<section class="vh-100; container">
    <h2 style="color:white">Create a Post</h2>
        
    <form class="create-post-form">
        <div class="form-wrap">
            <div>
                <label for="post-title">Title</label>
                <input type="text" class="input-box" id="post-title" name="post-title"/>
            </div>
            <div>
                <label for="post-content">Content</label>
                <textarea id="post-content" class="input-box"name="post-content"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Create</button>
        </div>
    </form>

    {{#if posts.length}}

    <h2 style="color:white">Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            <div class="post">
        <h3 class = "ml-4 mt-4 ext-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-3xl post-title" value = "post_title" style="color:white">{{title}}</h3>
        <p style="color:white">by {{user.username}} on {{format_date created_at}}</p>
        <p class = "ml-4 post-employer text-base text-indigo-600 font-semibold tracking-wide" value= "post-content" style="color:white">{{post_content}}</p>
            <a href="post/{{id}}">comments: {{comments.length}}</a>
        </div>
        </div>
            <a href="/dashboard/edit/{{post.id}}" class="post-edit">Edit Post</a>
        </li>
        {{/each}}
    </ol>

    {{/if}}
</section>
<script src="./js/createPost.js"></script>